<div class='page-header'>
  <h1 class='page-title'>Suppliers Data</h1>
  <a href='/suppliers/create' class='btn btn-primary'>
    <i class='fas fa-plus'></i>
    Add Supplier
  </a>
</div>
<div style='margin-bottom: 1.5rem;'>
  <form action='/suppliers' method='GET' class='search-box'>
    <input
      type='text'
      name='search'
      placeholder='Search suppliers...'
      value='{{search}}'
      class='search-input'
    />
    <button type='submit' class='btn-search'>
      <i class='fas fa-search'></i>
    </button>
    {{#if search}}
      <a href='/suppliers' class='btn-clear'>
        <i class='fas fa-times'></i>
      </a>
    {{/if}}
  </form>
</div>
{{#if suppliers.length}}
  <div class='stats-grid'>
    <div class='stat-card highlight'>
      <div class='stat-number'>{{suppliers.length}}</div>
      <div class='stat-label'>Total Suppliers</div>
    </div>
  </div>
{{/if}}
<div class='card'>
  <div class='table-container'>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Supplier Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th style='text-align: center;'>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each suppliers}}
          <tr>
            <td><span class='badge badge-yellow'>#{{this.id}}</span></td>
            <td style='font-weight: 600;'>{{this.name}}</td>
            <td>{{this.phone}}</td>
            <td>{{#if this.email}}{{this.email}}{{else}}<span
                  style='color: #9ca3af;'
                >-</span>{{/if}}</td>
            <td>{{this.address}}</td>
            <td>
              <div class='actions'>
                <a
                  href='/suppliers/{{this.id}}/edit'
                  class='action-btn action-btn-edit'
                  title='Edit'
                >
                  <i class='fas fa-edit'></i>
                </a>
                <form
                  action='/suppliers/{{this.id}}?_method=DELETE'
                  method='POST'
                  style='display: inline; margin: 0;'
                  onsubmit='return confirm("Are you sure you want to delete this supplier?")'
                >
                  <button
                    type='submit'
                    class='action-btn action-btn-delete'
                    title='Delete'
                  >
                    <i class='fas fa-trash'></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan='6' class='empty-state'>
              <i class='fas fa-inbox'></i>
              <p>No supplier data yet.</p>
              <a
                href='/suppliers/create'
                class='btn btn-primary'
                style='margin-top: 1rem;'
              >
                Add Now
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>