<div class='page-header'>
  <h1 class='page-title'>Items Data</h1>
  <a href='/items/create' class='btn btn-primary'>
    <i class='fas fa-plus'></i>
    Add Item
  </a>
</div>
<div style='margin-bottom: 1.5rem;'>
  <form action='/items' method='GET' class='search-box'>
    <input
      type='text'
      name='search'
      placeholder='Search items...'
      value='{{search}}'
      class='search-input'
    />
    <button type='submit' class='btn-search'>
      <i class='fas fa-search'></i>
    </button>
    {{#if search}}
      <a href='/items' class='btn-clear'>
        <i class='fas fa-times'></i>
      </a>
    {{/if}}
  </form>
</div>
{{#if items.length}}
  <div class='stats-grid'>
    <div class='stat-card highlight'>
      <div class='stat-number'>{{items.length}}</div>
      <div class='stat-label'>Total Items</div>
    </div>
  </div>
{{/if}}
<div class='card'>
  <div class='table-container'>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item Name</th>
          <th>Supplier</th>
          <th>Stock</th>
          <th>Price</th>
          <th style='text-align: center;'>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            <td><span class='badge badge-yellow'>#{{this.id}}</span></td>
            <td style='font-weight: 600;'>{{this.name}}</td>
            <td>
              {{#if this.supplier}}
                <span class='badge badge-yellow'>{{this.supplier.name}}</span>
              {{else}}
                <span style='color: #9ca3af;'>-</span>
              {{/if}}
            </td>
            <td>{{this.stock}} pcs</td>
            <td style='font-weight: 600;'>Rp {{this.price}}</td>
            <td>
              <div class='actions'>
                <a
                  href='/items/{{this.id}}/edit'
                  class='action-btn action-btn-edit'
                  title='Edit'
                >
                  <i class='fas fa-edit'></i>
                </a>
                <form
                  action='/items/{{this.id}}?_method=DELETE'
                  method='POST'
                  style='display: inline; margin: 0;'
                  onsubmit='return confirm("Are you sure you want to delete this item?")'
                >
                  <button
                    type='submit'
                    class='action-btn action-btn-delete'
                    title='Delete'
                  >
                    <i class='fas fa-trash'></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan='6' class='empty-state'>
              <i class='fas fa-inbox'></i>
              <p>No items data yet.</p>
              <a
                href='/items/create'
                class='btn btn-primary'
                style='margin-top: 1rem;'
              >
                Add Now
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>